body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

/* Start Universal Flex Classes */

.flexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* End Universal Flex Classes

/* Start Navigation */

/* I tried this code but it didn't render the three as flex. Maybe someone can tell me what I'm doing wrong or why it doesn't

    header, .logo, .navLinks {
    display:flex;
    }
*/

header {
    display: flex;
    height:69px;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
    background: black;
    width:100%;
    top:0; /* The nav wasn't fixing to the top, there was a gap between the top of the browser screen and where the nav started */
    left: 0; /* I added this because without it there is a gap of 8 on the left for some reason. */
}


.logo {
    display: flex;
    padding-left: 10px;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height:50px;
}

.navLinks {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.navLinks a {
    padding:20px 10px;
    color: white;
}
/* End Navigation */

/* Start Mission Section */

.mission {
    height: 700px;
    background-image: url(images/img-mission-background.jpg);
    margin-top: 70px;
}

/* End Mission Section */

/* Start Tea of the Month Section */

.teaMonth img{
    height: 200px;
    width: 300px;
}

.heading {
    width: 100%;
    text-align: center;
}

.teas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    padding: 10px;
}

.items span {
    display: block;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

/* End Tea of the Month Section */

/* Start Locations Section */

#locations {
    height: 500px;
    background-image: url(images/img-locations-background.jpg);
}

.storeAddress {
    opacity: 1.0;
    padding: 10px;
    margin: 5px 20px;
    background-color: black;
    flex-basis: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* End Locations Section */
